{% extends "./base.html" %}

{% block title %} FACTURAS {% endblock %}

{% block buscador %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar search"
method="GET">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% endblock buscador %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-dismissible alert-success">
            <button type=" button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>AGREGAR PROVEEDORES</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarproveedor/" method="POST"> {% csrf_token %}
                    <div class="form group ">
                        <input type="text" id="id" name="id" class="form-control" placeholder="Digita el id" minlength="1" maxlength="1000000" required>
                    </div>
                    <div class="form group ">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Digita el nombre" maxlength="100" required>
                    </div>
                    <div class="form group ">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Digite la direccion" maxlength="100" required>
                    </div>
                    <div class="form group ">
                        <input type="text" id="txttel" name="txttel" class="form-control" minlength="1" placeholder="Digita el telefono" maxlength="1000000000000000" value="" required>
                    </div>
                    <div class="form group ">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" minlength="1" placeholder="Digita el correo" maxlength="1000000000000000" value="" required>
                    </div>
                    <div class="form group ">
                       <button type="submit" class="btn btn-success btn-block text-white">AGREGAR</button>
                    </div>
                </form>
            </div>
           </div>
            </div>



    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>LISTA DE PROVEEDORES</h1>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
        method="GEST">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar producto" name="buscar" value="{{ request.POST.buscar }}">
            <div class="input-group-append">
              <button class="btn btn-info" type="submit", placeholder="Buscar">
                <i class="fas fa-search fa-sm"></i>
               Buscar</button>
            </div>
          </div>
        </form>
        <div class="table-borderless"></div>
        <table class="table table-striped">
            <tr>
                <th>Id cliente</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th colspan="">Opciones</th>
            </tr>
            <tbody>
                {% for c in proveedoras %}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.nombreproveedora}}</td>
                    <td>{{c.direcciones}}</td>
                    <td>{{c.contacto}}</td>
                    <td>{{c.correo}}</td>
                    <td><a href="edicionproveedora/{{c.id}}"class="btn btn-info">EDITAR</a></td>
                    <td><a href="eliminarproveedora/{{c.id}}"class="btn btn-danger btneliminar">ELIMINAR</a></td>

                </tr>

                {% endfor %}
            </tbody>

        </table>
        
    </div>
</div>
{% endblock %}